<AuthorizeView>
    <Authorized>
        <a href="showprofile">Hello, @(context.User.Claims.Single(x=>x.Type == "name").Value)</a>
        <a href="MicrosoftIdentity/Account/SignOut">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="MicrosoftIdentity/Account/SignIn">Log in</a>
    </NotAuthorized>
</AuthorizeView>
