@page "/showprofile"
@using Microsoft.Graph.Auth
@using Microsoft.Identity.Client
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Logging
@inject ILogger<ShowProfile> _logger
@inject IHttpClientFactory httpClientFactory

<div class="card">
    <h3 class="card-header bg-success text-white">User Profile</h3>
    <div class="card-body">
        @if (user == null)
        {
            <p>
                <em>Loading...</em>
            </p>
        }
        else
        {
            <table class="table table-striped table-condensed" style="font-family: monospace">
                <tr>
                    <th>Property</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <td>Full Name</td>
                    <td>@($"{user.GivenName} {user.Surname}")</td>
                </tr>
                <tr>
                    <td>Display Name</td>
                    <td>@user.DisplayName</td>
                </tr>
                
                <tr>
                    <td>Photo</td>
                    <td>
                        @{
                            if (photo != null)
                            {
                                <img style="margin: 5px 0; width: 150px" src="data:image/jpeg;base64, @photo"/>
                            }
                            else
                            {
                                <h3>NO PHOTO</h3>
                                <p>Check user profile in Azure Active Directory to add a photo.</p>
                            }
                        }
                    </td>
                </tr>
            </table>
        }
    </div>
</div>

@code {
    User user;
    string photo;
    
    [Inject] public IOptionsMonitor<AzureAdOptions> OptionsMonitor { get; set; }

    AzureAdOptions _azureAdOptions = new ();
    
    GraphServiceClient graphClient;

    private ClientCredentialProvider AuthProvider()
    {
        _azureAdOptions = OptionsMonitor.CurrentValue;

        IConfidentialClientApplication confidentialClientApplication = ConfidentialClientApplicationBuilder
            .Create(_azureAdOptions.ClientId)
            .WithTenantId(_azureAdOptions.TenantId)
            .WithClientSecret(_azureAdOptions.ClientSecret)
            .Build();

        ClientCredentialProvider authProvider = new ClientCredentialProvider(confidentialClientApplication);

        return authProvider;
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            graphClient = new GraphServiceClient(AuthProvider());
            
            user = await graphClient.Me.Request().GetAsync();
            photo = await GetPhoto();

        }
        catch (Exception e)
        {
            _logger.LogError("Could not process the task", e.Message);
        }
    }

    protected async Task<string> GetPhoto()
    {
        string photo;
        try
        {
            graphClient = new GraphServiceClient(AuthProvider());
            
            using (var photoStream = await graphClient.Me.Photo.Content.Request().GetAsync())
            {
                byte[] photoByte = ((System.IO.MemoryStream) photoStream).ToArray();
                photo = Convert.ToBase64String(photoByte);
                this.StateHasChanged();
            }
        }
        catch (Exception)
        {
            photo = null;
        }
        return photo;
    }

}